{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    {% comment %} <link rel="stylesheet" href="/static/styles.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'tasks/styles.css' %}">

</head>
<body>
   

    <div class="container">
        <h1>To-Do List Application</h1>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
